<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-button (click)="capture()">capture</ion-button>
<ion-button (click)="createpdf()">createpdf</ion-button>

<img class="postimg" [src]="getImgContent()" >

</ion-content>
